nav:first-child { /* 가로 nav : 첫번째 nav만 적용 (첫번째만 first-child 설정가능)*/
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
nav:nth-child(2){ /*2번째 nav 설정 : column(가로 -> 세로)*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav a {
    text-decoration: none;
    color:black;
    margin: 1em;
    font-size: 2em;
}